name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm install --global pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build
      - run: pnpm run tsc
      - run: pnpm run lint
